<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Авторизация</title>
    <link rel="stylesheet" href="style/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<script type="importmap">
    {
      "imports": {
        "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.js"
      }
    }
</script>
<header class="header">
    <img src="bullshit/itmo-cs-logo.png">
    <p>Чайковский Никита Михайлович</p>
    <p>P3217 Вар:7657</p>

</header>
<div class="topnav" id="myTopnav">
    <a href="#home" class="active">Главная</a>
    <a href="main.html">График</a>
    <a href="tables.html">Таблица точек</a>
    <a href="variant.html">О варианте</a>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
    </a>
</div>
<div id="app">
    <div class="cont">
        <div class="login-cont">
            <div v-if="isLogin">
                <form @submit="login">

                    <div v-if="!isEnter">
                        <div class="login">
                            <p>Логин</p>
                            <input class="input" type="text" v-model="username">
                        </div>
                        <div class="password">
                            <p>Пароль</p>
                            <input class="input" type="password" v-model="password">
                        </div>
                        <div class="another-button">
                            <p>Залогиниться</p>
                            <input class="input" type="submit" value="Залогиниться"/>
                        </div>
                    </div>


                    <br>
                    {{ message }}

                </form>
                <input type="button" class="input" value="Регистрация" @click="switchForm"></input>
            </div>
            <div v-else>
                <form @submit="registrate">


                    <div class="login">
                        <p>Логин</p>
                        <input class="input" type="text" v-model="username">
                    </div>
                    <div class="password">
                        <p>Пароль</p>
                        <input class="input" type="password" v-model="password">
                    </div>
                    <div class="password">
                        <p>Повторите пароль</p>
                        <input class="input" type="password" v-model="rePassword">
                    </div>
                    <div class="another-button">
                        <p>Зарегестрироваться</p>
                        <input class="input" type="submit" value=">Зарегестрироваться"/>
                    </div>


                    <br>
                    {{ regMessage }}

                </form>
                <input class="input" type="button" @click="switchForm" value="Авторизация"></input>

            </div>


            <div v-if="isEnter">
                <input @click="disLogin" class="input" type="button" value="Выйти из профиля"></input>
            </div>
        </div>
    </div>

</div>


<fieldset class="snow-toggle">
    <legend class="snow-toggle__label">Переключатель осадков</legend>
    <label class="snow-toggle__item">
        <input class="snow-toggle__control" type="radio" name="snow" value="snowfall" checked>
        <span class="snow-toggle__text">Снег</span>
    </label>
    <label class="snow-toggle__item">
        <input class="snow-toggle__control" type="radio" name="snow" value="none">
        <span class="snow-toggle__text">Без осадков</span>
    </label>
</fieldset>
<div class="snow">
    <div class="snow__flake">*</div>
    <div class="snow__flake">*</div>
    <div class="snow__flake">*</div>
    <div class="snow__flake">*</div>
    <div class="snow__flake">*</div>
    <div class="snow__flake">*</div>
    <div class="snow__flake">*</div>
    <div class="snow__flake">*</div>
    <div class="snow__flake">*</div>
    <div class="snow__flake">*</div>
    <div class="snow__flake">*</div>
    <div class="snow__flake">*</div>
    <div class="snow__flake">*</div>
    <div class="snow__flake">*</div>
    <div class="snow__flake">*</div>
    <div class="snow__flake">*</div>
    <div class="snow__flake">*</div>
    <div class="snow__flake">*</div>
    <div class="snow__flake">*</div>
    <div class="snow__flake">*</div>
    <div class="snow__flake">*</div>
    <div class="snow__flake">*</div>
    <div class="snow__flake">*</div>
    <div class="snow__flake">*</div>
    <div class="snow__flake">*</div>
    <div class="snow__flake">*</div>
    <div class="snow__flake">*</div>
    <div class="snow__flake">*</div>
    <div class="snow__flake">*</div>
    <div class="snow__flake">*</div>
    <div class="snow__flake">*</div>
    <div class="snow__flake">*</div>
    <div class="snow__flake">*</div>
    <div class="snow__flake">*</div>
    <div class="snow__flake">*</div>
    <div class="snow__flake">*</div>
    <div class="snow__flake">*</div>
    <div class="snow__flake">*</div>
    <div class="snow__flake">*</div>
    <div class="snow__flake">*</div>
</div>


<script>
    function myFunction() {
        var x = document.getElementById("myTopnav");
        if (x.className === "topnav") {
            x.className += " responsive";
        } else {
            x.className = "topnav";
        }
    }
</script>
<script src="scripts/snow.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script type="module" src="scripts/main.js"></script>
</body>
</html>