.rMessage {
    color: red;
}
.login-cont {
    font-family: '8bit','Source Code Pro', monospace;
}

.select {
    font-size: 18px;
    padding: 5px 5px;
    border-radius: 8px;
    border: 2px solid #4a90e2;
    outline: none;
    background-color:  #161616;
    font-family: '8bit','Source Code Pro', monospace;


}

table {
    border-collapse: collapse;
    border: 2px solid rgb(140 140 140);
}

th,
td {
    border: 1px solid rgb(160 160 160);
    padding: 8px 10px;
}