table {
    border-collapse: collapse;
    border: 2px solid rgb(140 140 140);
}

th,
td {
    border: 1px solid rgb(160 160 160);
    padding: 8px 10px;
}

.login-cont {

    margin: 2rem auto;
    max-width: 40ch;
    border: 8px solid #0038FF;
    color: #fff;
    padding: 2ch;
    position: relative;
    border-image:
            url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16 0H8v4H4v4H0v8h4v4h4v4h8v-4h4v-4h4V8h-4V4h-4V0zm0 4v4h4v8h-4v4H8v-4H4V8h4V4h8z' fill='%230038FF'/%3E%3C/svg%3E")
            8 stretch;


}
.cont {
    font-family: '8bit','Source Code Pro', monospace;

    display: flex;
    align-items: center;
    justify-content: center;
}

body {

    background: #161616;
    color: #fff;
    font-family: '8bit','Source Code Pro', monospace;
    line-height: 1.5;
    font-size: 1.25rem;
    margin: 2rem;
}

@font-face {
    font-family: '8bit';
    src: url("8bitwonderrusbylyajka_nominal.otf") format('opentype');
}

.input {
    font-family: 'Source Code Pro', monospace;

    background: #0f0f0f;
    border: 2px solid #444;
    color: #3f54d4;

    border-radius: 8px;
    outline: none;

    transition: border-color .25s, box-shadow .25s, background .25s, transform 1s;
}
.input[type="submit"]{
    font-family: '8bit','Source Code Pro', monospace;
}


.input:hover
{
    border-color: #0038FF;
    background: #1a1a1a;
    box-shadow: 0 0 12px #0038FF,
    0 0 6px #0038FF,
    0 0 3px #0038FF;


    transform: scale(1.05);
}























*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    color-scheme: dark;
}

body {
    margin: 0;
    padding: 50px;
    background-color: #18191c;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
}

.snow-toggle {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    gap: 40px;
    border: 0;
}

.snow-toggle__label {
    padding-bottom: 10px;
}

.snow-toggle__item {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.snow-toggle__text::before {
    content: "";
    position: absolute;
    left: 0;
    top: calc(50% - 12px);
    width: 25px;
    height: 25px;
    border: 1px solid #FFFFFF;
    border-radius: 50%;
}

.snow-toggle__control {
    width: 25px;
    height: 25px;
    opacity: 0;
    margin-right: 15px;
}

.snow-toggle__control:focus + .snow-toggle__text::before {
    border-color: #2E9AFF;
}

.snow-toggle__control:checked + .snow-toggle__text::before {
    background-color: #FFFFFF;
    background: radial-gradient(
            circle,
            #FFFFFF 0%,
            #FFFFFF 40%,
            transparent 50%,
            transparent 100%
    );
}

.snow {
    --animation-name: snowfall;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    pointer-events: none;
}

.snow__flake {
    position: relative;
    top: -1.5em;
    color: #c1dcec;
    animation-name: var(--animation-name);
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    will-change: transform;
}

@keyframes snowfall {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(calc(100vh + 1.5em));
    }
}












/* Добавить черный цвет фона для верхней навигации */
.topnav {
    font-family: '8bit','Source Code Pro', monospace;
    background-color: #333;
    overflow: hidden;
}

/* Стиль ссылок внутри панели навигации */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Изменение цвета ссылок при наведении курсора */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Добавить активный класс, чтобы выделить текущую страницу */
.topnav a.active {
    background-color: #0038FF;
    color: white;
}

/* Скрыть ссылку, которая должна открывать и закрывать верхнюю навигационную панель на небольших экранах */
.topnav .icon {
    display: none;
}
/* Если ширина экрана меньше 600 пикселей, скройте все ссылки, кроме первой ("Главная"). Показать ссылку, которая содержит должен открыть и закрыть верхнюю навигационную панель topnav (.icon) */
@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
        float: right;
        display: block;
    }
}

/* Класс "responsive" добавляется в верхнюю навигационную панель используя JavaScript, когда пользователь нажимает на значок. Этот класс делает topnav хорошо выглядеть на небольших экранах (отображать ссылки по вертикали, а не по горизонтали) */
@media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}